.Line{
   width: 90%;
   margin: auto;
    margin-top: 50px;
}
.Filter_main{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
     background-color: white;
     padding-left: 10px;
     padding-right: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
     gap: 10px;
     height: 88px;
     margin: auto;
}
.Items_parent{
    display: flex;
    align-items: center;
    gap: 80px;
}
.Items{
    font-size: 18px;
    font-weight: 800;
    display: block;
}
.filter_drop{
    font-size: 18px;
    color: gray;
   
}
.hide_filter{
    display: block;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    text-decoration: underline;
    
}
.show_filter{
    display: block;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    text-decoration: underline;

}
.Arrow{
    display: block;
}
.Filter{
    display:none;
}
.select_div{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color:#252020 ;
    margin-top: 10px;
    margin-bottom: 10px;
    

}
#select{
    outline: none;
}
#hr{
    display: block;
    
    width: 90%;
    margin: auto;
    margin-bottom: 25px;
}
@media only screen and (max-width: 430px) {
.Line{
    display: block;

}
.Items{
    display: none;
}
.filter_drop{
    display: none;
}
.Filter{
    display: block;
    font-weight: 700;
    font-size: 14px;
    padding-left: 50px;
}
#select{
    font-weight: 700;
    font-size: 14px;
    width: 90%;
}
.mob-3{
    width: 90%;
    margin: auto;
}




}